mixin __render-calculator-data(index)
	case index
		when 1
			script.
				window.calculatorData_1 = {"banks":{"261861":{"ID":"261861","SECTION_ID":"3661","NAME":"\u0410\u041e \u00ab\u0413\u043b\u043e\u0431\u044d\u043a\u0441\u0431\u0430\u043d\u043a\u00bb","RATE":9,"FEE":20,"MAX_TIME":30},"67":{"ID":"67","SECTION_ID":"3661","NAME":"\u0421\u0431\u0435\u0440\u0431\u0430\u043d\u043a \u0420\u043e\u0441\u0441\u0438\u0438","RATE":11,"FEE":20,"MAX_TIME":30},"68":{"ID":"68","SECTION_ID":"3661","NAME":"\u0412\u0422\u041124","RATE":11,"FEE":20,"MAX_TIME":30},"14274":{"ID":"14274","SECTION_ID":"3661","NAME":"\u0411\u0430\u043d\u043a \u0421\u0430\u043d\u043a\u0442-\u041f\u0435\u0442\u0435\u0440\u0431\u0443\u0440\u0433","RATE":12,"FEE":20,"MAX_TIME":25},"166713":{"ID":"166713","SECTION_ID":"3661","NAME":"\u0410\u041e \u00ab\u0420\u043e\u0441\u0441\u0435\u043b\u044c\u0445\u043e\u0437\u0431\u0430\u043d\u043a\u00bb","RATE":11,"FEE":20,"MAX_TIME":30}},"max":9300000,"min":2200000,"time":30,"pay_min":440000,"QUEUE":{"7":{"QUEUE_NUMBER":"7","OBJECTS":{"5":{"ID":"1831","NUMBER":"5","SELECTED":true,"MAX":6600000,"MIN":6600000,"CALC":true},"6":{"ID":"1994","NUMBER":"6","SELECTED":false,"MAX":0,"MIN":0,"CALC":true},"7":{"ID":"2352","NUMBER":"7","SELECTED":false,"MAX":5400000,"MIN":4000000,"CALC":true},"8":{"ID":"2353","NUMBER":"8","SELECTED":false,"MAX":6500000,"MIN":5100000,"CALC":true}},"SELECTED":true},"8":{"QUEUE_NUMBER":"8","OBJECTS":{"1":{"ID":"1029","NUMBER":"1","SELECTED":true,"MAX":5700000,"MIN":3600000,"CALC":true},"7":{"ID":"1082","NUMBER":"7","SELECTED":false,"MAX":8200000,"MIN":3700000,"CALC":true},"8":{"ID":"1230","NUMBER":"8","SELECTED":false,"MAX":6100000,"MIN":2900000,"CALC":true}},"SELECTED":false},"9":{"QUEUE_NUMBER":"9","OBJECTS":{"3":{"ID":"3207","NUMBER":"3","SELECTED":true,"MAX":5800000,"MIN":3300000,"CALC":false},"4":{"ID":"3001","NUMBER":"4","SELECTED":false,"MAX":5800000,"MIN":2500000,"CALC":false},"5":{"ID":"2853","NUMBER":"5","SELECTED":false,"MAX":0,"MIN":0,"CALC":false},"6":{"ID":"2351","NUMBER":"6","SELECTED":false,"MAX":5100000,"MIN":5100000,"CALC":false}},"SELECTED":false},"10":{"QUEUE_NUMBER":"10","OBJECTS":{"17":{"ID":"3358","NUMBER":"17","SELECTED":true,"MAX":7300000,"MIN":3200000,"CALC":true}},"SELECTED":false},"11":{"QUEUE_NUMBER":"11","OBJECTS":{"3":{"ID":"15551","NUMBER":"3","SELECTED":true,"MAX":6300000,"MIN":2300000,"CALC":true},"4":{"ID":"14965","NUMBER":"4","SELECTED":false,"MAX":7000000,"MIN":2300000,"CALC":true},"9":{"ID":"15190","NUMBER":"9","SELECTED":false,"MAX":8600000,"MIN":2200000,"CALC":true},"13":{"ID":"15616","NUMBER":"13","SELECTED":false,"MAX":4800000,"MIN":2600000,"CALC":true},"14":{"ID":"15022","NUMBER":"14","SELECTED":false,"MAX":4900000,"MIN":2700000,"CALC":true},"15":{"ID":"14866","NUMBER":"15","SELECTED":false,"MAX":5900000,"MIN":3000000,"CALC":true},"16":{"ID":"14715","NUMBER":"16","SELECTED":false,"MAX":3400000,"MIN":2600000,"CALC":true}},"SELECTED":false}}};
		when 2
			script.
				window.calculatorData_2 = {"banks":{"53465":{"ID":"53465","SECTION_ID":"3662","NAME":"\u0421\u0431\u0435\u0440\u0431\u0430\u043d\u043a \u0420\u043e\u0441\u0441\u0438\u0438","RATE":12,"FEE":20,"MAX_TIME":15},"53466":{"ID":"53466","SECTION_ID":"3662","NAME":"\u0412\u0422\u041124","RATE":12,"FEE":20,"MAX_TIME":14},"172261":{"ID":"172261","SECTION_ID":"3662","NAME":"\u0411\u0430\u043d\u043a \u041e\u0442\u043a\u0440\u044b\u0442\u0438\u0435","RATE":11,"FEE":20,"MAX_TIME":20},"299792":{"ID":"299792","SECTION_ID":"3662","NAME":"\u0410\u041e \u00ab\u0420\u043e\u0441\u0441\u0435\u043b\u044c\u0445\u043e\u0437\u0431\u0430\u043d\u043a\u00bb","RATE":11,"FEE":20,"MAX_TIME":23}},"max":9300000,"min":2200000,"time":15,"pay_min":440000,"QUEUE":{"7":{"QUEUE_NUMBER":"7","OBJECTS":{"5":{"ID":"1831","NUMBER":"5","SELECTED":true,"MAX":6600000,"MIN":6600000,"CALC":true},"6":{"ID":"1994","NUMBER":"6","SELECTED":false,"MAX":0,"MIN":0,"CALC":true},"7":{"ID":"2352","NUMBER":"7","SELECTED":false,"MAX":5400000,"MIN":4000000,"CALC":true},"8":{"ID":"2353","NUMBER":"8","SELECTED":false,"MAX":6500000,"MIN":5100000,"CALC":true}},"SELECTED":true},"8":{"QUEUE_NUMBER":"8","OBJECTS":{"1":{"ID":"1029","NUMBER":"1","SELECTED":true,"MAX":5700000,"MIN":3600000,"CALC":true},"7":{"ID":"1082","NUMBER":"7","SELECTED":false,"MAX":8200000,"MIN":3700000,"CALC":true},"8":{"ID":"1230","NUMBER":"8","SELECTED":false,"MAX":6100000,"MIN":2900000,"CALC":true}},"SELECTED":false},"9":{"QUEUE_NUMBER":"9","OBJECTS":{"3":{"ID":"3207","NUMBER":"3","SELECTED":true,"MAX":5800000,"MIN":3300000,"CALC":false},"4":{"ID":"3001","NUMBER":"4","SELECTED":false,"MAX":5800000,"MIN":2500000,"CALC":false},"5":{"ID":"2853","NUMBER":"5","SELECTED":false,"MAX":0,"MIN":0,"CALC":false},"6":{"ID":"2351","NUMBER":"6","SELECTED":false,"MAX":5100000,"MIN":5100000,"CALC":false}},"SELECTED":false},"10":{"QUEUE_NUMBER":"10","OBJECTS":{"17":{"ID":"3358","NUMBER":"17","SELECTED":true,"MAX":7300000,"MIN":3200000,"CALC":true}},"SELECTED":false},"11":{"QUEUE_NUMBER":"11","OBJECTS":{"3":{"ID":"15551","NUMBER":"3","SELECTED":true,"MAX":6300000,"MIN":2300000,"CALC":true},"4":{"ID":"14965","NUMBER":"4","SELECTED":false,"MAX":7000000,"MIN":2300000,"CALC":true},"9":{"ID":"15190","NUMBER":"9","SELECTED":false,"MAX":8600000,"MIN":2200000,"CALC":true},"13":{"ID":"15616","NUMBER":"13","SELECTED":false,"MAX":4800000,"MIN":2600000,"CALC":true},"14":{"ID":"15022","NUMBER":"14","SELECTED":false,"MAX":4900000,"MIN":2700000,"CALC":true},"15":{"ID":"14866","NUMBER":"15","SELECTED":false,"MAX":5900000,"MIN":3000000,"CALC":true},"16":{"ID":"14715","NUMBER":"16","SELECTED":false,"MAX":3400000,"MIN":2600000,"CALC":true}},"SELECTED":false}}};
		when 3
			script.
				window.calculatorData_3 = {"banks":[],"max":9300000,"min":2200000,"time":null,"pay_min":0,"QUEUE":{"7":{"QUEUE_NUMBER":"7","OBJECTS":{"5":{"ID":"1831","NUMBER":"5","SELECTED":true,"MAX":6600000,"MIN":6600000,"CALC":true},"6":{"ID":"1994","NUMBER":"6","SELECTED":false,"MAX":0,"MIN":0,"CALC":true},"7":{"ID":"2352","NUMBER":"7","SELECTED":false,"MAX":5400000,"MIN":4000000,"CALC":true},"8":{"ID":"2353","NUMBER":"8","SELECTED":false,"MAX":6500000,"MIN":5100000,"CALC":true}},"SELECTED":true},"8":{"QUEUE_NUMBER":"8","OBJECTS":{"1":{"ID":"1029","NUMBER":"1","SELECTED":true,"MAX":5700000,"MIN":3600000,"CALC":true},"7":{"ID":"1082","NUMBER":"7","SELECTED":false,"MAX":8200000,"MIN":3700000,"CALC":true},"8":{"ID":"1230","NUMBER":"8","SELECTED":false,"MAX":6100000,"MIN":2900000,"CALC":true}},"SELECTED":false},"9":{"QUEUE_NUMBER":"9","OBJECTS":{"3":{"ID":"3207","NUMBER":"3","SELECTED":true,"MAX":5800000,"MIN":3300000,"CALC":false},"4":{"ID":"3001","NUMBER":"4","SELECTED":false,"MAX":5800000,"MIN":2500000,"CALC":false},"5":{"ID":"2853","NUMBER":"5","SELECTED":false,"MAX":0,"MIN":0,"CALC":false},"6":{"ID":"2351","NUMBER":"6","SELECTED":false,"MAX":5100000,"MIN":5100000,"CALC":false}},"SELECTED":false},"10":{"QUEUE_NUMBER":"10","OBJECTS":{"17":{"ID":"3358","NUMBER":"17","SELECTED":true,"MAX":7300000,"MIN":3200000,"CALC":true}},"SELECTED":false},"11":{"QUEUE_NUMBER":"11","OBJECTS":{"3":{"ID":"15551","NUMBER":"3","SELECTED":true,"MAX":6300000,"MIN":2300000,"CALC":true},"4":{"ID":"14965","NUMBER":"4","SELECTED":false,"MAX":7000000,"MIN":2300000,"CALC":true},"9":{"ID":"15190","NUMBER":"9","SELECTED":false,"MAX":8600000,"MIN":2200000,"CALC":true},"13":{"ID":"15616","NUMBER":"13","SELECTED":false,"MAX":4800000,"MIN":2600000,"CALC":true},"14":{"ID":"15022","NUMBER":"14","SELECTED":false,"MAX":4900000,"MIN":2700000,"CALC":true},"15":{"ID":"14866","NUMBER":"15","SELECTED":false,"MAX":5900000,"MIN":3000000,"CALC":true},"16":{"ID":"14715","NUMBER":"16","SELECTED":false,"MAX":3400000,"MIN":2600000,"CALC":true}},"SELECTED":false}}};
mixin calculator(options)
	-if(options == null){
		-options = {}
	-}

	+__render-calculator-data(options.index)

	if ['credit', 'installment'].indexOf(options['type']) == -1
		-options['type'] = 'credit'

	mixin calculator-credit()
		.calculator-line.__banks
			.form-item
				select(name="")
					for item in creditData
						option(value="#{ item.value }")!= item.label
		.calculator-line.__amount
			.form-label Стоимость квартиры
			.form-item.__has-slider
				.form-input.__has-label
					.form-input-wrapper
						input(type="text" name="summ" data-calculator-target="amount" data-value-formatter="price" value="1 230 321")&attributes( options['disabledAmount'] === true ? {disabled: true} : {} )
					span.form-input-label рублей
				if options['disabledAmount'] !== true
					.form-slider
						div(class="slider" data-calculator-element="amount")

		.calculator-line.__term
			.form-label Срок кредита
			.form-item.__has-slider
				.form-input.__has-label
					.form-input-wrapper
						input(type="text" name="time" data-calculator-target="term")
					span.form-input-label лет
				.form-slider
					div(class="slider" data-calculator-element="term")

		.calculator-line.__payment
			.form-label Первоначальный взнос
			.form-item.__has-slider
				.form-input.__has-label
					.form-input-wrapper
						input(type="text" name="pay" data-calculator-target="payment" data-value-formatter="price")
					span.form-input-label рублей
				.form-slider
					div(class="slider" data-calculator-element="payment")


	mixin calculator-installment()
		.calculator-line.__queue
			//- .form-label Очередь:
			.form-item
				select(data-calculator-element="queue" name="queue")
					option(value="7") 7 ОЧЕРЕДЬ
					option(value="8") 8 ОЧЕРЕДЬ
					option(value="9") 9 ОЧЕРЕДЬ
					option(value="10") 10 ОЧЕРЕДЬ
					option(value="11") 11 ОЧЕРЕДЬ

		.calculator-line.__object
			//- .form-label Корпус:
			.form-item
				select(data-calculator-element="objects" name="korpus")

		.calculator-line.__amount
			.form-label Стоимость квартиры
			.form-item.__has-slider
				.form-input.__has-label
					.form-input-wrapper
						input(type="text" name="summ" data-calculator-target="amount" data-value-formatter="price" value="1 230 321")&attributes( options['disabledAmount'] === true ? {disabled: true} : {} )
					span.form-input-label рублей
				if options['disabledAmount'] !== true
					.form-slider
						div(class="slider" data-calculator-element="amount")

		.calculator-line.__payment
			.form-label Первоначальный взнос
			.form-item.__has-slider
				.form-input.__has-label
					.form-input-wrapper
						input(type="text" name="pay" data-calculator-target="payment" data-value-formatter="price")
					span.form-input-label рублей
				.form-slider
					div(class="slider" data-calculator-element="payment")





	mixin get-calculator-form()
		if options['type'] == 'credit'
			+calculator-credit()
		else
			+calculator-installment()


	+namespace("calculator")
		+el()(data-calculator-type="#{ options['type'] }" data-calculator-use-data="calculatorData_#{ options.index }").js-calculator
			form(action="")
				if options['title']
					.form-title!= options['title']

				+get-calculator-form()

				.form-submit
					input(type="submit", value="Рассчитать" data-button="" data-button-size="huge")