mixin construction-progress()
	+namespace("construction-progress")
		+el().block
			.block-header
				.wrapper-content
					.block-title Ход строительства
					+el("filter")
						form(action="")
							+el("filter-item").form-item.__month
								select(name="").__colored
									option(value="-1") Все
									option(value="0") январь
									option(value="1") февраль
									option(value="2") март
									option(value="3") апрель
									option(value="4") май
									option(value="5") июнь
									option(value="6") июль
									option(value="7") август
									option(value="8") сентябрь
									option(value="9") октябрь
									option(value="10") ноябрь
									option(value="11") декабрь
							+el("filter-item").form-item.__year
								select(name="").__colored
									option(value="2012") 2012
									option(value="2013") 2013
									option(value="2014") 2014
									option(value="2015") 2015
									option(value="2016") 2016
			.wrapper-content
				.block-content
					+gallery({'hide-content': true})
					//- +el("gallery")
					//- 	+el("gallery-list").js-construction-progress-slider
					//- 		+el("gallery-item")
					//- 			+img("example/construction-progress/1.jpg")( data-cover-image="" )
					//- 		+repeat(10)
					//- 			+el("gallery-item")
					//- 				img(src="#{ getImage( random(1000, 4000), random(1000, 4000) ) }", alt="" data-cover-image="")