mixin flats(options)
	-if(options == null){
		-options = {}
	-}
	.block.flats.js-flats(class="#{ options['addClass'] ? options['addClass'] : '' }")
		.wrapper-content
			.block-header
				.block-title популярные квартиры
			.block-content
				.flats-list.js-flats-list(data-clearwhitespace="")
					for item in flatsList
						+flat(item)
			.block-text
				h5 В жилом комплексе «Северная долина» открыта вторая школа на 975 учащихся
				p Компания «Главстрой-СПб» сообщает об открытии второй общеобразовательной школы на 975 мест на территории жилого комплекса «Северная долина». В ЖК «Северная долина» состоялось торжественное открытие второй общеобразовательной школы. В церемонии приняли участие глава администрации Выборгского района Валерий Гарнец, заместитель главы администрации Выборгского района Наталия Никишина, председатель Комитета по энергетике и инженерному обеспечению Андрей Бондарчук и генеральный директор «Главстрой-СПб» Андрей Васильев.
				p Мы внимательно относимся к развитию образовательной инфраструктуры внутри своих комплексов. Сегодня в «Северной долине» работают два государственных детских сада и одна общеобразовательная школа. До конца года планируется завершить строительство еще двух детских дошкольных учреждений на 190 воспитанников каждый и вторую общеобразовательную школу на 975 учеников. По мере реализации проекта в жилом районе появятся еще 9 детских садов и 8 общеобразовательных школ.
				p До проведения конкурса на определение эксплуатирующей организации или выбора данной компании на собрании собственников жилья ООО «Эксплуатация Главстрой-СПб» осуществляет временное управление построенными объектами. Компания участвует в процессе сдачи-приемки жилых домов, её специалисты досконально исследуют все инженерные системы зданий. В дальнейшем это позволяет не только обеспечивать качественное обслуживание домов комплекса, но и оперативно устранять возникающие неполадки.