mixin news-detail()
	+namespace("news-detail")
		+el().block.__page
			.wrapper-content
				.block-header
					.block-back-link
						a(href="#") Назад к списку новостей
					.block-title
						h1 Открыты продажи машино-мест в подземных паркингах ЖК «Северная долина»
				.block-content
					.block-aside-content
						.block-box
							+el("date") 12 марта
							+el("text")
								p Компания «Главстрой-СПб» выводит в продажу машино-места в подземных паркингах ЖК «Северная долина» в Выборгском районе Санкт-Петербурга. Стоимость парковочного места начинается от 299 тыс. рублей.

								p «Главстрой-СПб» начал реализацию парковочных мест в подземных паркингах домов второй, третьей и пятой очереди строительства жилого комплекса «Северная долина». В продажу поступило 1000 машино-мест. Стоимость стандартного места в паркинге составляет 299 тыс. рублей, семейное парковочное место можно приобрести за 599 тыс. рублей.

								p Паркинги расположены в жилых домах по адресам: улица Федора Абрамова, дом 4, 10Н и 5Н; улица Валерия Гаврилина, дом 3 корпус 2, 3Н и улица Николая Рубцова, дом 9, 14H. Помещения подземной парковки отапливаются, оборудованы системами автоматизированного контроля въезда/выезда, охраны и видеонаблюдения, освещения, вентиляции, пожаротушения и дымоудаления, проводится регулярная уборка территории автостоянок.

								p Реализация мест в паркингах происходит посредством заключения договора купли-продажи и внесения 100% оплаты их стоимости. Помимо приобретения машино-места компания «Главстрой-СПб» предоставляет возможность аренды мест в подземных паркингах. Стоимость аренды  – от 2500 до 5500 рублей в месяц в зависимости от категории машино-места.

								p Подробную информацию по наличию парковочных мест и их стоимости можно узнать у специалистов отдела продаж «Главстрой-СПб» по телефону: +7 (812) 680-40-40.
					.block-aside
						+news-subscribe()