mixin socials()
	+namespace("socials")
		+el()
			+el("list")
				+el("item").__instagram
					+el("link", "a")(href="#")
						+fa("instagram")
				+el("item").__facebook
					+el("link", "a")(href="#")
						+fa("facebook")
				+el("item").__vk
					+el("link", "a")(href="#")
						+fa("vk")