extends layouts/_default

block vars
	-var currentPageTitle = ["Выбор квартир"]
block content
	.choose-flat.block
		.wrapper-content
			.block-header
				.block-title.__title-only
					h1 Выбор квартир
			.block-content
				.choose-flat-content.__flats.choose-flat-asides(data-uniformheight=".js-choose-flat-uniformheight,.js-flat-inner")
					.choose-flat-aside-content
						.choose-flat-list-counter.js-choose-flat-slider-counter
						.choose-flat-list.js-choose-flat-slider
							for item in flatsList
								+flat(item)
					.choose-flat-aside-block
						+choose-flat-filter