// // *
// // 	outline 1px solid rgba(#a00, 0.1) !important
// html
// 	&:before
// 		z-index 9999999
// 		position fixed
// 		content 'DESKTOP'
// 		bottom 0
// 		right 0
// 		padding 20px
// 		font-size 16px
// 		background rgba(0, 0, 0, 0.3)
// 		color #fff
// 		+MEDIA_TABLET()
// 			content 'TABLET'
// 		+MEDIA_SMALL_TABLET()
// 			content 'SMALL_TABLET'
// 		+MEDIA_MOBILE()
// 			content 'MOBILE'
// 		+MEDIA_SMALL_MOBILE()
// 			content 'SMALL_MOBILE'