.icon
	&-star
		&.__left,
		&.__right
			size 54px 42px
			display inline-block
			vertical-align middle
		&.__left
			background images('icons/star__left.png') center no-repeat
		&.__right
			background images('icons/star__right.png') center no-repeat