.tablink
	overflow hidden
	&-list
		margin -5px -18px
	&-item
		display inline-block
		vertical-align middle
		padding 5px 18px
		font-size 18px
		line-height 20px
		font-weight 700
		text-transform uppercase
	&-link
		&.__current
			color #242424
			cursor default
	+MEDIA("TABLET")
		text-align left
		&-list
			margin _ -10px
		&-item
			padding _ 10px