body
	background #fff
.content
	padding-bottom 1px
	margin-bottom 0
.footer
	padding-top 35px
	background BACKGROUND_COLOR
.construction-progress.block
	margin-bottom 0
	.gallery
		margin-bottom 0
.flatcard
	margin-bottom 0