// /{ textbox() }
// 	border 1px solid #ccc
// 	width 100%
// 	padding 6px 10px
// 	font-size 14px
// 	border-box()
// 	line-height normal
// 	border-radius 0
// 	box-shadow none
// 	background #fff

// 	.error &,
// 	&.error
// 		border-color #f0b8b8
// 		box-shadow 0 0 5px rgba(219,42,42, 0.20)

// 		.ui-select-wrapper.error .ui-selectmenu-button
// 			border-color #f0b8b8

// 	&:hover
// 		border-color #ccc - 10%
// 	&:focus
// 		border-color #ccc - 20%
// /{ textbox() }
// 	-webkit-appearance none
// 	border-radius 0
main
	.req
		font-size: 12px;
		color: #db2a2a;
		position: relative;
		top: -5px;

.form
	position relative
	&-item
		&.width-50
			padding-right: 13px;
			border-box()
		&-right
			display: inline-block;
			vertical-align: middle;
			position: relative;
			top: -2px;
			margin-left: 28px;
			&-number, &-date
				display: inline-block;
				vertical-align: middle;
				margin-left 20px
				input[type="text"]
					width 100%
			&-number
				margin-left 15px
				width 50px
			&-date
				width 145px

		margin-bottom 18px
		&-column
			width 210px
			margin-left 26px
			&:first-of-type
				margin-left 0
		&.error
			.ui-select-wrapper
				.ui-selectmenu-button
					border 1px solid #f0b8b8 !important

	&-column-line
		margin: 30px -30px 0;
		padding: 20px 30px;
		border-top: 1px solid #dae3e4;
		& + .form-column-line
			margin-top 0
	&-attention
		color #686868
		font-size 12px
		margin-bottom: 25px;
		margin-top: 27px;
		text-align left
	textarea
		height 168px

	label
		font-size 14px
		text-align left
		color #000
		display block
		margin-bottom 10px
	input,
	textarea
		& + label
			display inline-block
			vertical-align middle
			margin-bottom 0
			margin-left 10px

	&.compact
		input,
		textarea
			width 60%

	&.error
		input,
		textarea
			border 1px solid #f0b8b8 !important
			box-shadow 0 0 5px rgba(219,42,42, 0.20) !important


.error-msg
	margin-top 10px
	display inline-block
	margin-left 10px
	color #db2a2a
	font-size 14px
	text-align left

