// .bx-core-window,
// .bxcompprop-content,
// .adm-workarea
// 	select[multiple],
// 	select
// 		-webkit-appearance listbox

// 	select,
// 	select
// 		-webkit-appearance menulist

// 	input[type="radio"]
// 		-webkit-appearance radio

// 	input[type="checkbox"]
// 		-webkit-appearance checkbox