
$iconsCount = 19
$$icons = {
	's-___': 256px 124px -256px -124px 1px 1px 257px 253px 'images/icons/__sprite.png'
	's-callback': 106px 179px -106px -179px 32px 32px 257px 253px 'images/icons/__sprite.png'
	's-callback__small': 76px 123px -76px -123px 16px 16px 257px 253px 'images/icons/__sprite.png'
	's-checkbox-arrow': 121px 232px -121px -232px 11px 8px 257px 253px 'images/icons/__sprite.png'
	's-favorite': 119px 0px -119px 0px 64px 64px 257px 253px 'images/icons/__sprite.png'
	's-favorite__small': 158px 179px -158px -179px 32px 32px 257px 253px 'images/icons/__sprite.png'
	's-map-target': 119px 84px -119px -84px 50px 50px 257px 253px 'images/icons/__sprite.png'
	's-map-target__small': 76px 83px -76px -83px 20px 20px 257px 253px 'images/icons/__sprite.png'
	's-map-target_marker': 0px 83px 0px -83px 56px 76px 257px 253px 'images/icons/__sprite.png'
	's-menu-close': 203px 124px -203px -124px 33px 33px 257px 253px 'images/icons/__sprite.png'
	's-menu': 0px 0px 0px 0px 99px 63px 257px 253px 'images/icons/__sprite.png'
	's-menu__small': 210px 179px -210px -179px 33px 21px 257px 253px 'images/icons/__sprite.png'
	's-popup-close': 53px 179px -53px -179px 33px 33px 257px 253px 'images/icons/__sprite.png'
	's-popup-close__black': 0px 179px 0px -179px 33px 33px 257px 253px 'images/icons/__sprite.png'
	's-select-arrow': 49px 232px -49px -232px 16px 10px 257px 253px 'images/icons/__sprite.png'
	's-select-arrow__white': 85px 232px -85px -232px 16px 10px 257px 253px 'images/icons/__sprite.png'
	's-share': 0px 232px 0px -232px 29px 21px 257px 253px 'images/icons/__sprite.png'
	's-star__left': 203px 62px -203px -62px 54px 42px 257px 253px 'images/icons/__sprite.png'
	's-star__right': 203px 0px -203px 0px 54px 42px 257px 253px 'images/icons/__sprite.png'
}