$spritesCount = 6
$$sprite = {
	's-___': 82px 28px -82px -28px 1px 1px 93px 62px 'images/sprites/__sprite.png'
	's-arrow-tab-active': 41px 41px -41px -41px 11px 8px 93px 62px 'images/sprites/__sprite.png'
	's-arrow-tab': 82px 0px -82px 0px 11px 8px 93px 62px 'images/sprites/__sprite.png'
	's-type-list': 0px 0px 0px 0px 21px 21px 93px 62px 'images/sprites/__sprite.png'
	's-type-preview': 41px 0px -41px 0px 21px 21px 93px 62px 'images/sprites/__sprite.png'
	's-type-table': 0px 41px 0px -41px 21px 21px 93px 62px 'images/sprites/__sprite.png'
}