-var randomDate = function(monthArr) {
	if monthArr == null
		-monthArr = strMonths

	-var day = random(1, 28)
	-var month = random(12)
	-var year = new Date().getFullYear()

	-return [day, month, year]
- }