//- -appProject.addStyle('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,800&subset=latin,cyrillic')
//- -appProject.addStyle('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,400italic,700&subset=latin,cyrillic')

//- -appProject.addStyle(STYLES('fonts/DINRoundPro/index.css'))
//- -appProject.addStyle(STYLES('fonts/PFDinTextCondPro-Regular/index.css'))

-appProject.addStyle(STYLES('fonts/rub_font/index.css'))
-appProject.addStyle(STYLES('fonts/MuseoSansCyrl/index.css'))
-appProject.addModule(libs('font-awesome-4.6.3'), ['css/font-awesome.min.css'])
//- -appProject.addStyle(STYLES('mfglabs-iconset/css/mfglabs_iconset.css'))

//- //- -appProject.addStyle('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,400italic&subset=latin,cyrillic')

//- //- -appModules.addScript('//api-maps.yandex.ru/2.1/?lang=ru_RU')

-appModules.addModule(libs(), ['modernizr-custom.3.3.1.js', 'jquery.maskedinput.min.js', 'jquery.placeholder.js', 'excanvas.js'])

-appModules.addModule(libs('lodash-4.9.0'), ['lodash.min.js'], {ISNOTIE: true})
-appModules.addModule(libs('lodash-3.10.1'), ['lodash.min.js'], {ISIE: true})

//- -appModules.addModule(libs('jquery.form'), ['jquery.form.js'])
//- -appModules.addModule(libs('cropper-master'), ['dist/cropper.min.js', 'dist/cropper.min.css'])

//- -appModules.addModule(libs(), ['jquery.customselect.js'])

//- -appModules.addModule(libs('social-likes'), ['social-likes.min.js', 'social-likes_flat.css'])

-appModules.addModule(libs('slick'), ['slick.js', 'slick.css'])

-appModules.addModule(libs('jquery-ui-1.11.4.custom'), ['jquery-ui.js', 'jquery-ui.min.css'])

-appModules.addModule(libs(), ['jquery.ui.combobox.js'])

-appModules.addModule(libs(), ['jquery.ui.touch-punch.min.js'])

//- -appModules.addModule(libs('photoSwipe'), ['photoswipe.js', 'photoswipe-ui-default.js', 'photoswipe.css', 'default-skin/default-skin.css'])

//- -appModules.addModule(libs(), ['jquery.cloud9carousel.js'])

//- -appModules.addModule(libs('jquery-mousewheel-master'), ['jquery.mousewheel.min.js'])
//- -appModules.addModule(libs('nanoscroller'), ['jquery.nanoscroller.min.js', 'nanoscroller.css'])

-appModules.addModule(libs('lightbox2'), ['js/lightbox.min.js', 'css/lightbox.min.css'])

//- //- -appModules.addModule(libs(), ['respond.js'])


-appModules.addScript('//yastatic.net/es5-shims/0.0.2/es5-shims.min.js')
-appModules.addScript('//yastatic.net/share2/share.js')