script(type="text/template" id="template-popup-error").
	<div class="popup-error">
		<% if(title) { %><div class="popup-error-title"><%= title %></div><% } %>
		<% if(text) { %><div class="popup-error-text"><%= text %></div><% } %>
	</div>